.App {
  text-align: center;
  /* backgrou5nd-image: url("/src/AEC.jpg"); */
  background-position: center;
  height: 100%;
  background-size: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  
}

.image{
  background-image: url("/src/AEC.jpg");
  width:3000px; /*width of your image*/
   height:1000px; /*height of your image*/
   
   
}

